<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Convert v2ray domain list rule to clash rule">
    <link rel="icon" href="/favicon.svg">
    <title>Rules List</title>
    <style>
        :root {
            --background-color: #fff;
            --text-color: #333;
        }

        @media(prefers-color-scheme: dark) {
            :root {
                --background-color: #333;
                --text-color: #fff;
            }
        }

        body {
            font-size: 16px;
            background-color: var(--background-color);
            color: var(--text-color);
        }

        h1 {
            font-size: 24px;
        }

        .header-wrapper {
            margin: 0 0 8px;
        }

        .header-wrapper .gh-icon {
            height: 1em;
            vertical-align: middle;
            margin-bottom: 5px;
        }

        .header-wrapper h1 {
            margin: 0;
        }

        .header-wrapper .brief {
            margin: 0;
            opacity: 0.8;
            font-size: 14px;
        }

        .header-wrapper .brief a {
            color: inherit;
        }


        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 16px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            column-gap: 20px;
            columns: 2;
        }

        @media screen and (max-width: 800px) {
            ul {
                columns: 1;
            }
        }

        .rule-item {
            color: var(--text-color);
        }

        .rule-item:hover {
            color: orange;
        }

        .rule-item .icon {
            width: 1em;
            height: 1em;
            vertical-align: middle;
        }

        .rule-item a {
            text-decoration: none;
            color: inherit;
        }

    </style>
</head>

<body>
    <div>
        <div class="container">
            <div class="header-wrapper">
                <h1>Rules List <a href="https://github.com/SharerMax/V2ray2ClashRule" target="_blank" rel="noopener"><img class="gh-icon" alt="Github-V2ray2ClashRule"src="https://img.shields.io/badge/Star-black?logo=github" crossorigin="anonymous"></a> </h1>
                <p class="brief">Convert <a href="https://github.com/v2fly/domain-list-community" target="_blank">v2ray domain list</a> rule to clash rule</p>
            </div>
            <div>Latest update: <%= latestUpdateDate %></div>
            <div>Total: <%= ruleList.length %></div>
            <hr>
            <ul>
                <% ruleList.forEach(rule=> { %>
                    <li class="rule-item">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                            <path fill="currentColor"
                                d="m0 .97l4.111 6.453v4.09h2.638v-4.09L11.053.969H8.214L5.58 5.125L2.965.969Zm12.093.024l-4.47 10.544h2.114l.97-2.345h4.775l.804 2.345h2.26L14.255.994Zm1.133 2.225l1.463 3.87h-3.096zm3.06 9.475v10.29H24v-2.199h-5.454v-8.091zm-12.175.002v10.335h2.217v-7.129l2.32 4.792h1.746l2.4-4.96v7.295h2.127V12.696h-2.904L9.44 17.37l-2.455-4.674Z" />
                        </svg>
                        <a href="<%= rule.url %>" target="_blank" rel="noopener noreferrer">
                            <%= rule.name %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </div>

</body>

</html>